body {
    text-align: center;
}
h1 {
    font-family: arial;
    color: red;
    padding-top: 50px;
}

p {
    font-family: arial;
}

.large {
    margin-top: 1px;
    margin-bottom: 1px;
}

li {
    font-family: arial;
}

ul {
    text-align: center;
    list-style-position: inside;
}

ol {
    text-align: center;
    list-style-position: inside;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

.pad_small {
    padding-top: 1px;
}

#h1_main {
    font-size: 50px;
    font-family: arial;
    color: maroon;
    padding-top: 1px;
    margin-bottom: 1px;
}

td {
    font: 18px arial;
    border: 1px green solid;
}